<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/libraries/jquery.js"></script>
    <script src="/javascripts/libraries/bootstrap.min.js"></script>
    <script src="/javascripts/libraries/jquery-ui.min.js"></script>
    <script src="/javascripts/custom/game-functions.js"></script>
    <script src="/javascripts/custom/game.js"></script>
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <title>Memory Game</title>
  </head>
  <body>
    <div class="container">

      <div class="row title-row">
        <h1>Memory Game</h1>
      </div>

        <% @programmers.each_with_index do |info_hash, i| %>
          <% info_hash.each do |name,info| %>
            <% info.each do |type, v| %>
              <div class="card" id="<%= @colors[(i + @seed) % 5] %>">
                <% if type == :img %>
                  <img id="<%= name %>" src="<%= v %>" class="headshot-card card-back" width="170" height="174">
                <% else %>
                  <h3 id="<%= name %>" class="name-card card-back"><%= v %></h3>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>

    </div><!-- container -->
  </body>
</html>
